.pages-button {
    background-color: #DB51AC;
    color: white;
}

.heading {
    color: #DB6751;
}


.home-button {
    background-color: #DB51AC;
    color: black;
}

.Ingredients {
    background-color: #DB6751;
    color: white;
}

.Steps {
    background-color: #DB6751;
    color: white;
}

.intro {
    background-color: #DB6751;
    color: white;
}

.bold {
    color: black;
}